<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag :defaults, :cache => true %>
    <%= yield(:head) %>
  </head>
  <body>
		<nav class="primary">
			<ul><li><%= link_to 'Purchases', purchases_path %></li>
		<li><%= link_to 'Items', items_path %></li>
		<li><%= link_to 'Customers', customers_path %></li>
		<li><%= link_to 'Suppliers', suppliers_path %></li>
		<li><%= link_to 'Users', users_path %></li>
		</ul>
		</nav>
		<section id="wrapper">

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
			<section id="content-wrapper">
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>

      <%= yield %>
</section>
</section>
  </body>
</html>
